head, body {
    background-color: rgb(233, 233, 233);
  }
  
body {
  margin-left: 10%;
  margin-right: 10%;
  font-family:georgia;
  color:rgb(92, 58, 30);
}
  
h2 { 
  /* color:rgb(211, 123, 72); */
  color:rgb(92, 58, 30);
  font-family:charlemagne std;
  text-align:center;
  margin-bottom:35px;
  padding-top: 6%;
}
  
#hrline {
  margin-bottom:50px;
}

hr {
  height:.7px;
  background-color: #333;
}
  
.col-sm-4 {
  font-size: 120%;
} 

div {
  margin:0 5% 0 5%;
}  
  
#list {
  color:rgb(92, 58, 30);
  font-size: 140%;
}

#home {
  float: left;
  color:rgb(92, 58, 30);
  font-size: 100%;
  font-weight: bold;
}

#assignments {
  float: right;
  color:rgb(92, 58, 30);
  font-size: 100%;
  font-weight: bold;
}

table {
  display: table;
  border-collapse: collapse;
}

table tr {
  width: 150px;
  display: table-cell;
  vertical-align: top;
}

table tr td {
  width: 150px;
  display: block;
}

.roomHeader {
  margin-top: 15px;
}

.page {
  display: table;
  width: 100%;
}

.page-content {
  display: table-cell;
}

#hidden {
  visibility: hidden;
}

#menu {
  width: 25%;
  float: left;
  margin-right: 0%;
  margin-left: 2%;
}

#menu a{
  display: block;
  margin:0px;
  padding:10px 15px;
  color:rgb(92, 58, 30);
  font-size: 130%;
  text-decoration: none;
}

#menu a.selected {
  background: #777;
  color: #e9e9e9;
}

#menu a:hover {
  background-color: #bbb;
  color: #e9e9e9;
}

#loadcontent {
  float: left;
  margin-right: 0%;
  margin-left: 0%;
  width: 70%;
}
