head, body {
    background-color: rgb(233, 233, 233);
  }
  
  body {
    margin-left: 10%;
    margin-right: 10%;
    font-family:georgia;
    color:rgb(92, 58, 30);
  }
  
  h2 { 
      color:rgb(211, 123, 72);
      font-family:charlemagne std;
      text-align:center;
      margin-bottom:35px;
      padding-top: 6%;
  }
  
  #hrline {
    margin-bottom:50px;
  }
  
  hr {
      height:.7px;
      background-color: #333;
  }
  
  .col-sm-4 {
      font-size: 120%;
  } 
  
  div {
    margin:0 5% 0 5%;
  }  
    
  #list {
    color:rgb(92, 58, 30);
    font-size: 140%;
  }

  #home {
    float: left;
    color:rgb(92, 58, 30);
    font-size: 100%;
    font-weight: bold;
  }

  #assignments {
    float: right;
    color:rgb(92, 58, 30);
    font-size: 100%;
    font-weight: bold;
  }
  
  table {
    display: table;
  }

  table tr {
    width: 250px;
    display: table-cell;
    vertical-align: top;
  }
  
  table tr td {
    width: 250px;
    display: block;
  }

  .roomHeader {
    margin-top: 15px;
  }

  .page {
    display: table;
    width: 100%;
  }

  .page-content {
    display: table-cell;
  }

  #hidden {
    visibility: hidden;
  }

  #menu {
    width: 200px;
    float: left;
    margin-right:2%;
    margin-left:2%;
  }

  #menu a{
    display: block;
    margin:0px;
    padding:10px 15px;
    color:rgb(92, 58, 30);
    border-bottom:none;
    border-width: 0px 1px 0px 0px;
    border-color: 10px 10px 5px grey;
    border-style: solid;
    /* background-color: rgb(240, 240, 240); */
    font-size: 130%;
    /* box-shadow: 10px 10px 5px grey; */
    text-decoration: none;
  }
  
   #menu a:last-child { 
   border-width: 0px 0px 0px 0px; 
  }